.wide.faq.flex-column.column-center(x-style="height: 964px; gap: 68px; padding-top: 176px;")
  .wide.flex-column.column-center.column-vertical-center
    h5="Customer help"
    h3="Frequently asked questions"
  .wide.questions.flex-column.column-center.column-vertical-center(x-style="gap: 28px;")
    details.spoiler 
      summary="Reque insolens in vel?"
      .content.flex-row.row-left.row-vertical-center
    .line
    details.spoiler 
      summary="Vis rebum error graecis ea, id sit postea accusamus?"
      .content.flex-row.row-left.row-vertical-center
    .line
    details.spoiler 
      summary="Lorem repudiandae ne nec?"
      .content.flex-row.row-left.row-vertical-center
        p.small(x-style="margin-left: 48px; margin-top: 16px; width: 391px;")="Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti."
        button.gray="Go to documentation"
    .line
    details.spoiler 
      summary="Ad dicit numquam vel. Et eos iudico feugait percipitur?"
      .content.flex-row.row-left.row-vertical-center
    .line
    details.spoiler 
      summary="Sea no dico percipitur. Fierent constituam definitiones id eum?"
      .content.flex-row.row-left.row-vertical-center
    .line
