.wide.features.flex-column.column-center.column-vertical-center
  .wide.flex-column.column-center.column-vertical-center
    h5="ABOUT US"
    h3="Read about our app"
  .wide.flex-column.column-center.column-vertical-center
    .grid-4-decorated.width-1440
      .wrap.column.flex-column.column-center.column-vertical-top
        .circle 
          img(src="images/about/home.svg")
        h4="Overview"
        p.sans.smaller="Brute laoreet efficiendi id his, ea illum nonumes luptatum pro."
      .wrap.decoration
      .wrap.column.flex-column.column-center.column-vertical-top
        .circle 
          img(src="images/about/files.svg")
        h4="Files"
        p.sans.smaller="No vim nulla vitae intellegat. Ei enim error ius, solet atomorum conceptam ex has."
      .wrap.decoration
      .wrap.column.flex-column.column-center.column-vertical-top
        .circle 
          img(src="images/about/message.svg")
        h4="Meeting chats"
        p.sans.smaller="Vim ne tacimates neglegentur. Erat diceret omittam at est."
      .wrap.decoration
      .wrap.column.flex-column.column-center.column-vertical-top
        .circle 
          img(src="images/about/upload.svg")
        h4="Save events"
        p.sans.smaller="Nisl idque mel ea, nominati voluptatum."
  .choice
    button.light-red="Read more"
    .decoration
    span="OR"
    .decoration
    button.light-blue="Get started"
