nav.wide.navbar.row-vertical-center
  .wrap.flex-row.row-vertical-center
    .circle
  .menu.flex-row.row-vertical-center
    a.active(href="#")="Home"
    a(href="#")="Blog"
    a(href="#")="Features"
    a(href="#")="Pricing"
    a(href="#")="Documentation"
  .wrap.flex-row.row-vertical-center
  .social.flex-row.row-vertical-center
    img(src="images/social/facebook.svg")
    img(src="images/social/telegram.svg")
    img(src="images/social/twitter.svg")
    img(src="images/social/medium.svg")
  .wrap.flex-row.row-vertical-center
    button.light-blue="Get started"
