.wide.plan.padding-large.two-columns(x-style="height: 776px; background-color: #F5F8FF;")
  .wrap.content.flex-column.column-left.column-vertical-center.text-align-left
    h5="DESKTOP AND MOBILE APP"
    h2="Plan and manage"
    p(x-style="width: 413px;")="Brute laoreet efficiendi id his, ea illum nonumes luptatum pro. Usu atqui laudem an, insolens gubergren similique est cu. Et vel modus congue vituperata. Solum patrioque no sea. Mea ex malis mollis oporteat. Eum an expetenda consequat."
    .flex-row.row-left.text-align-left
      button.blue 
        span="View video "
        img(src="images/white-play.svg")
      button.transparent-dark="See features"
  .wrap 
