.wide.quotes.two-columns
  .content.wrap.flex-column.column-center.column-vertical-center
    h5="TESTIMONIALS"
    h2="Customers's quotes"
    p.sans.small="Brute laoreet efficiendi id his, ea illum nonumes luptatum pro. Usu atqui laudem an."
  .cards.wrap.flex-column.column-center
    .swiper
      .swiper-wrapper
        .swiper-slide
          .main
            .content 
              p.small="Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti."
            .avatar(style="--bg-image: url(\"images/author/avatar.png\");")
              
        .swiper-slide
          .test
            .content 
              p.small="Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti."
            .avatar 
      .swiper-pagination
