.wide.started.flex-column.column-center.column-vertical-center
  .flex-column.column-center.column-vertical-center
    h5="PLAN YOUR LIFE"
    h1="Get started now"
    p="Brute laoreet efficiendi id his, ea illum nonumes luptatum pro. Usu atqui laudem an, insolens gubergren similique est cu. Et vel modus congue vituperata."
  .flex-row.row-center.row-vertical-center
    button.white="View pricing"
    button.transparent-light="Read documentation"

    