.wide.bg-blue.started.flex-column.column-center.column-vertical-center(x-style="height: 447px; gap: 48px;")
  .flex-column.column-center.column-vertical-center
    h5="PLAN YOUR LIFE"
    h1="Get started now"
    p(x-style="width: 712px;")="Brute laoreet efficiendi id his, ea illum nonumes luptatum pro. Usu atqui laudem an, insolens gubergren similique est cu. Et vel modus congue vituperata."
  .flex-row.row-center.row-vertical-center
    button.white="View pricing"
    button.transparent-light="Read documentation"
