doctype html
html
  head
    meta(charset="utf-8")
    link(href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" rel="stylesheet")
  body
    
    .container
      nav.wide.navbar.row-vertical-center
        .wrap.flex-row.row-vertical-center
          .circle
        .menu.flex-row.row-vertical-center
          a.active(href="#")="Home"
          a(href="#")="Blog"
          a(href="#")="Features"
          a(href="#")="Pricing"
          a(href="#")="Documentation"
        .wrap.flex-row.row-vertical-center
        .social.flex-row.row-vertical-center
          img(src="images/social/facebook.svg")
          img(src="images/social/telegram.svg")
          img(src="images/social/twitter.svg")
          img(src="images/social/medium.svg")
        .wrap.flex-row.row-vertical-center
          button.light-blue="Get started"

      header.wide.hero.flex-column.column-center.column-vertical-center
        .swiper
          .swiper-wrapper
            .swiper-slide
              .main.page.flex-column.column-center
                h5="PLAN YOUR LIFE"
                h1="Increase your "
                  b="productivity"
                p
                  | Brute laoreet efficiendi id his, ea illum nonumes luptatum pro.
                  | Usu atqui laudem an, insolens gubergren similique est cu.
                  | Et vel modus congue vituperata.
                button.play 
                  img(src="images/play.svg",alt="")
          .swiper-pagination

      .wide.customers.padding-large.flex-row.space-between.row-vertical-center
        img(src="images/customers/bitbucket.svg",alt="")
        img(src="images/customers/applewatch.svg",alt="")
        img(src="images/customers/facebook.svg",alt="")
        img(src="images/customers/atlassian.svg",alt="")
        img(src="images/customers/audi.svg",alt="")

      .wide.padding-large.plan.two-columns 
        .wrap.content.flex-column.column-left.column-vertical-center.text-align-left
          h5="DESKTOP AND MOBILE APP"
          h2="Plan and manage"
          p="Brute laoreet efficiendi id his, ea illum nonumes luptatum pro. Usu atqui laudem an, insolens gubergren similique est cu. Et vel modus congue vituperata. Solum patrioque no sea. Mea ex malis mollis oporteat. Eum an expetenda consequat."
          .flex-row.row-left.text-align-left
            button.blue 
              span="View video "
              img(src="images/white-play.svg")
            button.transparent-dark="See features"
        .wrap 
      .wide.features.flex-column.column-center.column-vertical-center
        .wide.flex-column.column-center.column-vertical-center
          h5="ABOUT US"
          h3="Read about our app"
        .wide.flex-column.column-center.column-vertical-center
          .grid-4-decorated.width-1440
            .wrap.column.flex-column.column-center.column-vertical-center
              .circle 
                img(src="images/about/home.svg")
              h4="Overview"
              p.sans.smaller="Brute laoreet efficiendi id his, ea illum nonumes luptatum pro."
            .wrap.decoration
            .wrap.column.flex-column.column-center.column-vertical-center
              .circle 
                img(src="images/about/files.svg")
              h4="Files"
              p.sans.smaller="No vim nulla vitae intellegat. Ei enim error ius, solet atomorum conceptam ex has."
            .wrap.decoration
            .wrap.column.flex-column.column-center.column-vertical-center
              .circle 
                img(src="images/about/message.svg")
              h4="Meeting chats"
              p.sans.smaller="Vim ne tacimates neglegentur. Erat diceret omittam at est."
            .wrap.decoration
            .wrap.column.flex-column.column-center.column-vertical-center
              .circle 
                img(src="images/about/upload.svg")
              h4="Save events"
              p.sans.smaller="Nisl idque mel ea, nominati voluptatum."
        .choice
          button.light-red="Read more"
          .decoration
          span="OR"
          .decoration
          button.light-blue="Get started"
      .wide.stats.two-columns 
        .wrap.column-right.blue
          img(src="images/statistics/performance.svg",alt="")
          h1="89%"
          h4="Customers who have increased their productivity"
        .wrap.column-left.light-blue
          img(src="images/statistics/social.svg",alt="")
          h1="3123"
          h4="Users who have used our application"
      .wide.blog.flex-column.column-center
        .wide.flex-column.column-center
          h5="OUR RESOURCES"
          h3="Read about our app"
        .wide.flex-column.column-center
          .swiper
            .swiper-wrapper
              .swiper-slide
                .main
                  .images
                    .big(style="--bg-image: url(\"images/images/img1.png\");")
                    .small(style="--bg-image: url(\"images/images/img2.jpg\");")
                    .small(style="--bg-image: url(\"images/images/img3.jpg\");")
                  .content.flex-column.column-left.column-vertical-center
                    h2="How to start planning"
                    p="Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti. Natum petentium principes mei ea. Tota everti periculis vis ei, quas tibique pro at, eos ut decore ..."
                    .flex-row(style="gap: 8px;")
                      button.light-blue="Read now"
                      button.transparent="Add to your bookmarks"
              .swiper-slide
                .test 
            .swiper-button-prev
            .swiper-button-next
            .swiper-pagination
      .wide.quotes.two-columns
        .content.wrap.flex-column.column-center.column-vertical-center
          h5="TESTIMONIALS"
          h2="Customers's quotes"
          p.sans.small="Brute laoreet efficiendi id his, ea illum nonumes luptatum pro. Usu atqui laudem an."
        .cards.wrap.flex-column.column-center
          .swiper
            .swiper-wrapper
              .swiper-slide
                .main
                  .content 
                    p.small="Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti."
                  .avatar(style="--bg-image: url(\"images/author/avatar.png\");")
                    
              .swiper-slide
                .test
                  .content 
                    p.small="Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti."
                  .avatar 
            .swiper-pagination
      .wide.faq.flex-column.column-center
        .wide.flex-column.column-center.column-vertical-center
          h5="Customer help"
          h3="Frequently asked questions"
        .wide.questions.flex-column.column-center.column-vertical-center
          details.spoiler 
            summary="Reque insolens in vel?"
            .content.flex-row.row-left.row-vertical-center
          .line
          details.spoiler 
            summary="Vis rebum error graecis ea, id sit postea accusamus?"
            .content.flex-row.row-left.row-vertical-center
          .line
          details.spoiler 
            summary="Lorem repudiandae ne nec?"
            .content.flex-row.row-left.row-vertical-center
              p.small="Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti."
              button.gray="Go to documentation"
          .line
          details.spoiler 
            summary="Ad dicit numquam vel. Et eos iudico feugait percipitur?"
            .content.flex-row.row-left.row-vertical-center
          .line
          details.spoiler 
            summary="Sea no dico percipitur. Fierent constituam definitiones id eum?"
            .content.flex-row.row-left.row-vertical-center
          .line
      .wide.started.flex-column.column-center.column-vertical-center
        .flex-column.column-center.column-vertical-center
          h5="PLAN YOUR LIFE"
          h1="Get started now"
          p="Brute laoreet efficiendi id his, ea illum nonumes luptatum pro. Usu atqui laudem an, insolens gubergren similique est cu. Et vel modus congue vituperata."
        .flex-row.row-center.row-vertical-center
          button.white="View pricing"
          button.transparent-light="Read documentation"
      .wide.newsletter.padding-large.flex-row.space-between.row-vertical-center
        .content.flex-column.column-left.column-vertical-center
          h4="Sign up for newsletter"
          p="Cu qui soleat partiendo urbanitas. Eum aperiri indoctum eu, homero alterum."
        .submit.flex-row.row-right.row-vertical-center(style="gap: 14px;")
          input(type="text",placeholder="Email address")
          button.blue(style="width:184px;height:59px;")="Save me"
      
      .wide.footer.flex-column.column-left.column-vertical-center
        .wide.navbar.row-vertical-center
          .wrap.flex-row.row-vertical-center
            .circle
          .menu.flex-row.row-vertical-center
            a.active(href="#")="Home"
            a(href="#")="Blog"
            a(href="#")="Features"
            a(href="#")="Pricing"
            a(href="#")="Documentation"
          .wrap.flex-row.row-vertical-center
          .social.flex-row.row-vertical-center
            img(src="images/social/facebook.svg")
            img(src="images/social/telegram.svg")
            img(src="images/social/twitter.svg")
            img(src="images/social/medium.svg")
          .wrap.flex-row.row-vertical-center
            button.light-blue="Get started"
        .wide.copyright.flex-row.row-vertical-center
          p.small="Copyright © 2018 by Random site"

    script 
      
    script(src="scripts/main.js" defer async)
