doctype html
html
  head
    meta(charset="utf-8")
    link(href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" rel="stylesheet")
  body
    
    nav.navbar.row-vertical-center
      .wrap.flex-row.row-vertical-center
        .circle
      .menu.flex-row.row-vertical-center
        a.active(href="#")="Home"
        a(href="#")="Blog"
        a(href="#")="Features"
        a(href="#")="Pricing"
        a(href="#")="Documentation"
      .wrap.flex-row.row-vertical-center
      .social.flex-row.row-vertical-center
        img(src="images/social/facebook.svg")
        img(src="images/social/telegram.svg")
        img(src="images/social/twitter.svg")
        img(src="images/social/medium.svg")
      .wrap.flex-row.row-vertical-center
        button.light-blue="Get started"

    header.header.flex-column.column-center.column-vertical-center
      .swiper
        .swiper-wrapper
          .swiper-slide
            .main.page.flex-column.column-center
              h5="PLAN YOUR LIFE"
              h1="Increase your "
                b="productivity"
              p
                | Brute laoreet efficiendi id his, ea illum nonumes luptatum pro.
                | Usu atqui laudem an, insolens gubergren similique est cu.
                | Et vel modus congue vituperata.
              button.play 
                img(src="images/play.svg",alt="")
        .swiper-pagination

    script 
      
    script(src="scripts/main.js" defer async)
