doctype html
html
  head
    meta(charset="utf-8")
    link(href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" rel="stylesheet")
  body
    
    nav.navbar.row-vertical-center
      .wrap.flex-row.row-vertical-center
        .circle
      .menu.flex-row.row-vertical-center
        a.active(href="#")="Home"
        a(href="#")="Blog"
        a(href="#")="Features"
        a(href="#")="Pricing"
        a(href="#")="Documentation"
      .wrap.flex-row.row-vertical-center
      .social.flex-row.row-vertical-center
        img(src="images/social/facebook.svg")
        img(src="images/social/telegram.svg")
        img(src="images/social/twitter.svg")
        img(src="images/social/medium.svg")
      .wrap.flex-row.row-vertical-center
        button.light-blue="Get started"

    header.hero.flex-column.column-center.column-vertical-center
      .swiper
        .swiper-wrapper
          .swiper-slide
            .main.page.flex-column.column-center
              h5="PLAN YOUR LIFE"
              h1="Increase your "
                b="productivity"
              p
                | Brute laoreet efficiendi id his, ea illum nonumes luptatum pro.
                | Usu atqui laudem an, insolens gubergren similique est cu.
                | Et vel modus congue vituperata.
              button.play 
                img(src="images/play.svg",alt="")
        .swiper-pagination

    .customers.space-between.row-vertical-center
      img(src="images/customers/bitbucket.svg",alt="")
      img(src="images/customers/applewatch.svg",alt="")
      img(src="images/customers/facebook.svg",alt="")
      img(src="images/customers/atlassian.svg",alt="")
      img(src="images/customers/audi.svg",alt="")

    .plan.two-columns 
      .wrap.content.flex-column.column-left.column-vertical-center.text-align-left
        h5="DESKTOP AND MOBILE APP"
        h2="Plan and manage"
        p="Brute laoreet efficiendi id his, ea illum nonumes luptatum pro. Usu atqui laudem an, insolens gubergren similique est cu. Et vel modus congue vituperata. Solum patrioque no sea. Mea ex malis mollis oporteat. Eum an expetenda consequat."
        .flex-row.row-left.text-align-left
          button.blue 
            span="View video "
            img(src="images/white-play.svg")
          button.transparent-dark="See features"
      .wrap 
    .features.flex-column.column-center.column-vertical-center
      .flex-column.column-center.column-vertical-center
        h5="ABOUT US"
        h3="Read about our app"
      .flex-column.column-center.column-vertical-center
        .grid-4-decorated
          .column.flex-column.column-center.column-vertical-center
            .circle 
              img(src="images/about/home.svg")
            h4="Overview"
            p.sans.smaller="Brute laoreet efficiendi id his, ea illum nonumes luptatum pro."
          .decoration
          .column.flex-column.column-center.column-vertical-center
            .circle 
              img(src="images/about/files.svg")
            h4="Files"
            p.sans.smaller="No vim nulla vitae intellegat. Ei enim error ius, solet atomorum conceptam ex has."
          .decoration
          .column.flex-column.column-center.column-vertical-center
            .circle 
              img(src="images/about/message.svg")
            h4="Meeting chats"
            p.sans.smaller="Vim ne tacimates neglegentur. Erat diceret omittam at est."
          .decoration
          .column.flex-column.column-center.column-vertical-center
            .circle 
              img(src="images/about/upload.svg")
            h4="Save events"
            p.sans.smaller="Nisl idque mel ea, nominati voluptatum."
      .choice
        button.light-red="Read more"
        .decoration
        span="OR"
        .decoration
        button.light-blue="Get started"
    .stats.two-columns 
      .wrap.column-right.blue
        img(src="images/statistics/performance.svg",alt="")
        h1="89%"
        h4="Customers who have increased their productivity"
      .wrap.column-left.light-blue
        img(src="images/statistics/social.svg",alt="")
        h1="3123"
        h4="Users who have used our application"

    script 
      
    script(src="scripts/main.js" defer async)
